body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

a {
  text-decoration: none;
}

main {
  width: 100%;
  overflow: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Header */
.header {
  padding: 0 30px;
  position: fixed;
  background: #ffff;
  height: 80px;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 99;
  font-weight: normal;
  width: auto;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 30px rgba(197, 196, 196, 0.267);
}

.header h2 {
  padding: 15px 0 10px 0;
  font-size: 20px;
  font-weight: 600;
  color: #28352f;
  display: block;
}

.header nav {
  position: relative;
}

.social-media-links a {
  padding: 0 15px;
  color: #505f79;
  font-size: 15px;
}

.header nav a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.humburger {
  display: block;
}

.humburger:hover {
  cursor: pointer;
}

.nav-bar-list {
  display: none;
}

.nav-bar-list li {
  padding: 10px 12px;
}

.nav-bar-list li a {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
  text-decoration: none;
}

/* Main section */
.main-container {
  z-index: -1;
}

.home-section {
  overflow-x: hidden;
  background-image: url(./images/header-illsutration-mobile@2x.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
  text-align: center;
  font-size: 20px;
  padding-top: 80px;
  padding-bottom: 200px;
}

.sub-container {
  width: 90%;
  padding: 30px;
  margin: 0;
}

.presentation {
  font-size: 40px;
  font-weight: 900;
  line-height: 52px;
  padding: 0;
  margin: 0;
}

.sub-container h1 {
  color: #172b4d;
}

.sub-container h2 {
  color: #06bb70;
}

.detail {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #172b4d;
}

.social-media-links {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.scroll {
  margin: 0;
}
