body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

main {
  width: 100%;
  overflow: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button:focus {
  outline: none;
}

/* Header */
.header {
  padding: 0 30px;
  position: fixed;
  background: #ffff;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 99;
  font-weight: normal;
  width: auto;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 30px rgba(197, 196, 196, 0.267);
}

.header h2 {
  padding: 15px 0 10px 0;
  font-size: 20px;
  font-weight: 600;
  color: #28352f;
  display: block;
}

.header nav {
  position: relative;
}

.social-media-links a {
  padding: 0 15px;
  color: #505f79;
  font-size: 15px;
}

.header nav a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-info h2 {
  color: #3a4a42;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  text-align: center;
  margin: 16px;
}

.nav-bar-list li {
  padding: 10px 12px;
}

.sub-container h2 {
  color: #06bb70;
}

.title h2 {
  padding: 0;
  margin: 0 0 40px 0;
  color: #172b4d;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 52px;
  letter-spacing: 0;
  text-align: center;
  text-transform: capitalize;
}

.about h2 {
  font-size: 50px;
  line-height: 52px;
  margin: 20px 0;
  padding-top: 45px;
  color: #172b4d;
}

.change-menu h2 {
  display: none;
}

.about h2:hover,
.title-cont h2:hover,
.nav-bar-list li:hover {
  transform: translate(0, -5px);
  transition: all 0.5s ease;
}

.humburger {
  display: block;
}

.humburger:hover {
  cursor: pointer;
}

.nav-bar-list {
  display: none;
}

.close-menu {
  cursor: pointer;
  display: none;
}

.change-menu {
  height: 100vh;
  background-color: #fff;
  position: fixed;
  align-items: flex-start;
  border-radius: 0 0 40px 40px;
  box-shadow: 0 45px 45px rgba(37, 47, 137, 0.09);
  animation: animMenu 1s ease;
  transition: all 1s ease;
}

@keyframes animMenu {
  0% {
    transform: translateY(-1000px);
  }

  100% {
    transform: translateY(0);
  }
}

.change-menu .close-menu {
  position: absolute;
  display: block;
  z-index: 100;
  top: 0;
  right: 10px;
  margin: 20px;
  justify-self: flex-end;
  align-self: flex-end;
}

.nav-bar-list li a {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
  text-decoration: none;
}

.change-menu nav {
  width: 100%;
  flex-direction: column;
}

.change-menu ul {
  width: 100%;
  margin-top: 50px;
}

.change-menu nav .mob-list li a {
  font-weight: 700;
  line-height: 40px;
  font-size: 32px;
  color: #3a4a42;
}

.change-menu .humb-mob {
  display: none;
}

.change-menu nav .mob-list {
  display: flex;
  flex-direction: column;
}

.footer-icons li:hover,
.sub-container .social-media-links li:hover {
  transform: scale(1.5);
  transition: all 0.5s ease-in-out;
}

/* Main section */
.main-container {
  z-index: -1;
}

.home-section {
  overflow-x: hidden;
  background-image: url(./images/header-illsutration-mobile@2x.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
  text-align: center;
  font-size: 20px;
  padding-top: 80px;
}

.sub-container {
  width: 90%;
  padding: 30px;
  margin: 0;
}

.presentation {
  font-size: 40px;
  font-weight: 900;
  line-height: 52px;
  padding: 0;
  margin: 0;
}

.sub-container h1 {
  color: #172b4d;
}

.sub-container .presentation {
  animation: anim_my_name 2.5s infinite;
}

@keyframes anim_my_name {
  0% {
    transform: translate(0, -5px);
  }

  100% {
    transform: translate(0, 0);
  }
}

.detail {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #172b4d;
}

.social-media-links {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.scroll {
  margin: 0;
}

.works-section {
  width: 100%;
  margin-top: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.works-section .title {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  text-align: center;
  padding-bottom: 62px;
}

.works-section .title-cont {
  height: 97px;
  width: 327px;
  left: 0;
  top: 0;
}

.works-section .title img {
  margin: 0;
  padding-top: 24px;
}

.card {
  height: 474px;
  width: 327px;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  justify-self: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 22px;
}

.card .image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.card-container li:nth-child(4) .image {
  height: 60%;
}

.card-info {
  background: #ffff;
  flex: 1;
  width: 100%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.card-buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  height: 32px;
}

.card-buttons button {
  border: none;
  padding: 8px 12px;
  color: #3a4a42;
  font-size: 11px;
  font-weight: 600;
  border-radius: 4px;
}

.card:hover {
  z-index: 999;
  transform: scale(1.05);
  transition: all 0.4s ease;
  cursor: pointer;
}

.card-container {
  display: grid;
  width: auto;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  padding: 20px 10px;
  grid-auto-rows: 474px;
  justify-content: center;
  align-items: center;
}

.card .project-bg {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #ebf0ee;
}

.card .project-bg:hover {
  background-color: transparent;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.card-see {
  background-color: #1e488f;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  color: #fff;
  padding: 12px;
  margin-top: 29px;
  margin-bottom: 24px;
}

.card-see:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  cursor: pointer;
}

.card-see:focus {
  background-color: #0a2759;
}

.about-langues {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}

.about {
  background-image: url(./images/frame1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  padding-top: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.langues {
  display: grid;
  width: 100%;
  grid-gap: 15px;
  grid-template-columns: 1fr;
  grid-auto-rows: 359px;
  padding: 48px 0;
  justify-content: center;
  align-items: center;
}

.about-langues .about p {
  font-size: 20px;
  line-height: 32px;
  width: 80%;
  margin-top: 0;
  text-align: center;
  color: #42526e;
}

.langag-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 352px;
  width: 327px;
  border-radius: 8px;
  justify-self: center;
  background-color: #ebf0ee;
  border: 1px solid #c1c7d0;
  align-items: center;
  margin: 22px;
}

.langag-content .langag-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.langag-content .langag-btn button {
  padding: 8px 12px;
  margin: 5px;
  font-size: 13px;
  background-color: #fff;
  color: #02623a;
  font-weight: 600;
  border-radius: 4px;
  border: none;
}

.langag-btn .lang-body {
  display: flex;
}

.about-langues button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  cursor: pointer;
}

/* Footer */

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("./images/illustration-contact-form.svg") no-repeat;
  background-size: 10%;
  background-position: bottom 275px right 0;
  width: 100%;
}

.content {
  width: 85%;
}

.form-control {
  width: 100%;
  position: relative;
}

.contact-msg {
  width: 100%;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  line-height: 52px;
  color: #172b4d;
  margin-bottom: 20px;
  padding-top: 32px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form-container input {
  width: 100%;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  padding: 15px 16px;
  font-size: 15px;
  box-sizing: border-box;
  height: 48px;
  line-height: 24px;
}

.form-container textarea,
.form-container input {
  margin: 10px auto;
}

.form-container textarea {
  width: 100%;
  background-color: #fff;
  height: 114px;
  border: 1px solid #60c095;
  line-height: 24px;
  padding: 12px;
  font-size: 16px;
  border-radius: 4px;
  box-sizing: border-box;
}

.contact-form .email-link {
  color: #42526e;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 147px;
  box-sizing: border-box;
}

textarea::placeholder {
  color: #091e42;
  font-family: Arial, Helvetica, sans-serif;
}

.contact-form hr {
  align-items: center;
  width: 40%;
  background-color: rgba(0, 0, 0, 0.781);
  height: 5px;
  margin-bottom: 8px;
  border-radius: 10px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border: 1px solid #091e42;
  outline: none;
}

/* Desktop version */

@media screen and (min-width: 920px) {
  .header {
    justify-content: center;
    padding: 16px 0;
    width: 100%;
    top: 0;
    background: #ffff;
    height: auto;
    position: fixed;
  }

  .humburger,
  .header h2 {
    display: none;
  }

  .header ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-bar-list li {
    line-height: 24px;
    color: #091e42;
    font-weight: 600;
  }

  .home-section {
    background-image: url(./images/Header-llustration-desktop.svg);
    background-size: cover;
    height: 100vh;
    justify-content: flex-start;
    padding-top: 232px;
    padding-bottom: 154px;
  }

  .sub-container {
    width: 48%;
    padding: 0;
    margin: 24px 0;
  }

  .scroll {
    margin: 50px 0;
  }

  .works-section .title {
    padding: 10px 0;
    margin: 0;
  }

  .title h2 {
    padding: 0;
    margin: 0;
    width: 447px;
  }

  .title img {
    display: none;
  }

  .card-container {
    width: 100%;
    grid-gap: 24px;
    grid-template-columns: repeat(3, 327px);
  }

  .langues {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 368px);
    grid-auto-rows: 359px;
  }

  .about-langues .about p {
    width: 50%;
    padding: 0 100px;
  }

  .about {
    background-image:
      url(./images/illustration-about-me-desktop.svg),
      url(./images/illustration-about-me-2-desktop.svg);
    background-size: 70%, 14%;
    background-position: top right, bottom 25px left;
    background-repeat: no-repeat, no-repeat;
    height: 280px;
  }

  .about img {
    display: none;
  }

  .contact-form {
    width: 100%;
    background-image:
      url("./images/Frame@2x-1.png"),
      url("./images/Frame@2x.png"),
      url("./images/illustration-2-contact-form-desktop.png");
    background-position:
      bottom 80px left,
      bottom 55px right,
      bottom 120px left 200px;
  }

  .contact-form .content {
    width: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .contact-form .content form {
    width: 50%;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0 0 0 24px;
  }

  .submit-container .get-in-touch-btn {
    align-items: center;
    justify-content: flex-start;
  }

  .contact-form .content p {
    width: 45%;
    margin: 0;
    font-size: 30px;
    line-height: 52px;
  }

  .link-icons {
    bottom: 0;
  }

  .chirld-3 {
    grid-column: 1 /-1;
  }

  .footer-icons {
    width: 100%;
    border-top: 1px solid #dfe1e6;
    padding: 15px 0;
    margin: 140px 0 0 0;
  }

  .footer-icons li a {
    padding: 10px;
  }

  .footer-icons li a i {
    font-size: 20px;
    padding: 0;
  }

  .contact-form hr,
  .email-link {
    display: none;
  }
}
